Först fyller jag i all data i rutan nedan. Sedan kör jag in detta i databsern genom python och givet att insättningen går väl så lägger jag till kommandot i en lång txt-fil som får tjäna som en slags logg men även backup. Det ska gå att köra loggen, som är helt SQL, för att återskapa allt som lagts in.

Definiera funktionen här

In [94]:
def Nyrad(tabell, kolumner, värden):    
    try:
        # Koppla databasen
        sqliteConnection = sqlite3.connect('test.db')

        # Skapa en "cursor"... vet ej vad detta är, men det är nödvändigt.
        cursor = sqliteConnection.cursor()

        print("Successfully Connected to SQLite")

        # Denna query ska skrivas i SQL och körs av python mot databasen
        sqlite_insert_query = 'INSERT INTO {} {} VALUES {}'.format(tabell, kolumner, värden)

        # Först måste 'foreign key constraint' slås på, i SQLite är detta avstängt som default. 
        cursor.execute('PRAGMA foreign_keys = 1')

        # Nu kan raden läggas in
        cursor.execute(sqlite_insert_query)

        # commita:a till databasen
        sqliteConnection.commit()
        print("Record inserted successfully into mat table ", cursor.rowcount)

        # Stäng
        cursor.close()

    except sqlite3.Error as error:
        print("Failed to insert data into sqlite table", error)
    finally:
        if (sqliteConnection):
            sqliteConnection.close()
            print("The SQLite connection is closed")

In [95]:
tabell = 'tam'
kolumner = ('a', 'b')
värden = (1, 1)

In [96]:
'INSERT INTO {} {} VALUES {}'.format(tabell, kolumner, värden)

"INSERT INTO tam ('a', 'b') VALUES (1, 1)"

In [97]:
Nyrad(tabell, kolumner, värden)

Successfully Connected to SQLite
Failed to insert data into sqlite table foreign key mismatch - "tam" referencing "mat"
The SQLite connection is closed

In [63]:
def f(x):
    x = 2
    print(x)

In [64]:
f(3)

2

In [ ]:
namn = ''
enkät = ''
beskrivning = ''
itemnr = ''
enkättext = ''

kodlista = ''
kodsvar = {}

## C: Kodlistor

In [ ]:
INSERT INTO kodlistor VALUES (
                  "janej1",
                  2006,
                  2008
              );

## G: Enkättexter

## H: Svarstexter

## D: Kodlistor_stor

## B: Variabler

exempel på hur jag sätter in rader genom python: https://pynative.com/python-sqlite-insert-into-table/

In [1]:
import sqlite3

In [98]:
try:
    # Koppla databasen
    sqliteConnection = sqlite3.connect('test.db')
    
    # Skapa en "cursor"... vet ej vad detta är, men det är nödvändigt.
    cursor = sqliteConnection.cursor()
    
    print("Successfully Connected to SQLite")
    
    # Denna query ska skrivas i SQL och körs av python mot databasen
    sqlite_insert_query = """INSERT INTO tam
                          ('a', 'b') 
                           VALUES 
                          (1, 1)"""
    
    # Först måste 'foreign key constraint' slås på, i SQLite är detta avstängt som default. 
    cursor.execute('PRAGMA foreign_keys = 1')
    
    # Nu kan raden läggas in
    cursor.execute(sqlite_insert_query)
    
    # commita:a till databasen
    sqliteConnection.commit()
    print("Record inserted successfully into mat table ", cursor.rowcount)
    
    # Stäng
    cursor.close()

except sqlite3.Error as error:
    print("Failed to insert data into sqlite table", error)
finally:
    if (sqliteConnection):
        sqliteConnection.close()
        print("The SQLite connection is closed")

Successfully Connected to SQLite
Failed to insert data into sqlite table foreign key mismatch - "tam" referencing "mat"
The SQLite connection is closed

In [ ]:
/* metadata för variabeln promoted_1 */

INSERT INTO enkättexter VALUES (
                  "Ditt arbete @ Har du befordrats/fått en högre tjänst under de två senaste åren?",
                  "Hugo Westerlund"
              );

INSERT INTO svarstexter VALUES (
                  "ja",
                  2006,
                  2012
              );

INSERT INTO svarstexter VALUES (
                  "nej",
                  2006,
                  2012
              );

INSERT INTO svarstexter VALUES (
                  "missing",
                  2006,
                  2018
              );

INSERT INTO kodlistor VALUES (
                  "janej1",
                  2006,
                  2008
              );


INSERT INTO kodlistor_stor VALUES (
                  NULL,
                  "janej1",
                  1,
                  "ja"
              );

INSERT INTO kodlistor_stor VALUES (
                  NULL,
                  "janej1",
                  2,
                  "nej"
              );

INSERT INTO kodlistor_stor VALUES (
                  NULL,
                  "janej1",
                  ".",
                  "missing"
              );

INSERT INTO variabler VALUES (
                  "promoted_1",
                  "slosh 06 work",
                  "befordran",
				  "A1a",
                  "Ditt arbete @ Har du befordrats/fått en högre tjänst under de två senaste åren?",
                  "janej1"
              );
INSERT INTO frekvenstabeller VALUES (
                  NULL,
                  "promoted_1",
                  "slosh 06 work",
				  1,
                  720
              );

INSERT INTO frekvenstabeller VALUES (
                  NULL,
                  "promoted_1",
                  "slosh 06 work",
				  2,
                  4357
              );

INSERT INTO frekvenstabeller VALUES (
                  NULL,
                  "promoted_1",
                  "slosh 06 work",
				  ".",
                  64
              );a