Först fyller jag i all data i rutan nedan. Sedan kör jag in detta i databsern genom python och givet att insättningen går väl så lägger jag till kommandot i en lång txt-fil som får tjäna som en slags logg men även backup. Det ska gå att köra loggen, som är helt SQL, för att återskapa allt som lagts in.

In [ ]:
namn = ''
enkät = ''
beskrivning = ''
itemnr = ''
enkättext = ''

kodlista = ''
kodsvar = {}

## C: Kodlistor

In [ ]:
INSERT INTO kodlistor VALUES (
                  "janej1",
                  2006,
                  2008
              );

## G: Enkättexter

## H: Svarstexter

## D: Kodlistor_stor

## B: Variabler

exempel på hur jag sätter in rader genom python: https://pynative.com/python-sqlite-insert-into-table/

import sqlite3

try:
    sqliteConnection = sqlite3.connect('SQLite_Python.db')
    cursor = sqliteConnection.cursor()
    print("Successfully Connected to SQLite")

    sqlite_insert_query = """INSERT INTO SqliteDb_developers
                          (id, name, email, joining_date, salary) 
                           VALUES 
                          (1,'James','james@pynative.com','2019-03-17',8000)"""

    count = cursor.execute(sqlite_insert_query)
    sqliteConnection.commit()
    print("Record inserted successfully into SqliteDb_developers table ", cursor.rowcount)
    cursor.close()

except sqlite3.Error as error:
    print("Failed to insert data into sqlite table", error)
finally:
    if (sqliteConnection):
        sqliteConnection.close()
        print("The SQLite connection is closed")

In [ ]:
/* metadata för variabeln promoted_1 */

INSERT INTO enkättexter VALUES (
                  "Ditt arbete @ Har du befordrats/fått en högre tjänst under de två senaste åren?",
                  "Hugo Westerlund"
              );

INSERT INTO svarstexter VALUES (
                  "ja",
                  2006,
                  2012
              );

INSERT INTO svarstexter VALUES (
                  "nej",
                  2006,
                  2012
              );

INSERT INTO svarstexter VALUES (
                  "missing",
                  2006,
                  2018
              );

INSERT INTO kodlistor VALUES (
                  "janej1",
                  2006,
                  2008
              );


INSERT INTO kodlistor_stor VALUES (
                  NULL,
                  "janej1",
                  1,
                  "ja"
              );

INSERT INTO kodlistor_stor VALUES (
                  NULL,
                  "janej1",
                  2,
                  "nej"
              );

INSERT INTO kodlistor_stor VALUES (
                  NULL,
                  "janej1",
                  ".",
                  "missing"
              );

INSERT INTO variabler VALUES (
                  "promoted_1",
                  "slosh 06 work",
                  "befordran",
				  "A1a",
                  "Ditt arbete @ Har du befordrats/fått en högre tjänst under de två senaste åren?",
                  "janej1"
              );
INSERT INTO frekvenstabeller VALUES (
                  NULL,
                  "promoted_1",
                  "slosh 06 work",
				  1,
                  720
              );

INSERT INTO frekvenstabeller VALUES (
                  NULL,
                  "promoted_1",
                  "slosh 06 work",
				  2,
                  4357
              );

INSERT INTO frekvenstabeller VALUES (
                  NULL,
                  "promoted_1",
                  "slosh 06 work",
				  ".",
                  64
              );a