# Problem
1. I högra hörnet för varje variabel finns en lista över liknande variabler från tidiagare vågor. Listan upptar ibland en rad, ibland två och ibland tre. Detta betyder att ifall jag klyver strängarna vid `\n` kommer den sträng som är beskrivningen av variabeln ibland att vara på plats 3, ibland 4 och ibland 5.  
  
Kanske kan jag använda Regex här?

2. PDF:en som heter "litenkodbok" består av tre sidor. När jag försöker läsa in den får jag bara tag på första sidan.  

Måste jag dela upp LNU:s kodbok i lika måna PDF:er som den har sidor?  
  
3. *Om* jag delar upp kodboken i flera sidor, hur gör jag med de fall då en enskild "variabelruta" sträcker sig över en sidbrytning?

***

På [den här sidan](https://github.com/atlanhq/camelot) finns bakgrundsinformation.

In [3]:
import camelot
import pandas as pd

In [4]:
tables = camelot.read_pdf('litenkodbok.pdf')
tables

In [12]:
df = tables[0].df
df

                                                   0
0  Z2 \nPANELKOD \njfr X2 \nIntervjupersonens del...
1  Z3 \nINGICK I URVALET FÖR BARN-LNU 2000 \nNY \...
2  Z4 \nINTERVJUARNUMMER \nX4, Y3, U3, V2 \nInter...
3  Z5 \nINTERVJUDATUM – MÅN, DAG \nX5, Y4, U4, jf...
4  Z6 \nINTERVJUNS BÖRJAN – TIM, MIN \nX6, Y5, U5...
5  Z7 \nINTERVJUNS SLUT – TIM, MIN \nX7, Y6, U6, ...

In [16]:
df.loc[0][0]

'Z2 \nPANELKOD \njfr X2 \nIntervjupersonens deltagandestatus vid tidigare omgångar av Levnadsnivåundersökningen. \n1 \nDeltog 2000 \n3038 \n68,8 \n2 \nDeltog 2000 (bodde hemma) \n119 \n2,7 \n3 \nDeltog 1991 men inte senare \n190 \n4,3 \n4 \nDeltog 1981 eller tidigare men inte senare \n48 \n1,1 \n5 \nAldrig deltagit \n1020 \n23,1 \n \nTotalt \n4415 \n100'

In [6]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [7]:
L1 = [df.loc[i][0].split('\n') for i in df.index]

In [8]:
L1[1][0]

'Z3 '

In [9]:
namn = [L1[i][0] for i in range(len(L1))]
beskrivning = [L1[i][1] for i in range(len(L1))]
enkättext = [L1[i][3] for i in range(len(L1))]

In [10]:
pd.DataFrame.from_dict({'Variabelnamn': namn, 'Beskrivning': beskrivning, 'Enkättext': enkättext})

,Variabelnamn,Beskrivning,Enkättext
0,Z2,PANELKOD,Intervjupersonens deltagandestatus vid tidigar...
1,Z3,INGICK I URVALET FÖR BARN-LNU 2000,2
2,Z4,INTERVJUARNUMMER,Intervjuarens id. Redovisas ej.
3,Z5,"INTERVJUDATUM – MÅN, DAG","V3, jfr W552"
4,Z6,"INTERVJUNS BÖRJAN – TIM, MIN",Intervjuarens notering av klockslag – timme oc...
5,Z7,"INTERVJUNS SLUT – TIM, MIN",V708

In [ ]:
variabel = {'variabel': var[0], 'beskrivning': var[1], 'enkättext': var[3]}

In [ ]:
tables.export('foo.csv', f='csv', compress=True) # json, excel, html, sqlite
tables[0]

In [ ]:
tables[0].parsing_report

In [ ]:
#tables[0].to_csv('foo.csv') # to_json, to_excel, to_html, to_sqlite
tables[0].df # get a pandas DataFrame!