In [1]:
import pandas as pd

In [32]:
df1 = pd.read_excel('Metadata.xlsx')
df2 = pd.read_excel('Metadata.xlsx')

In [33]:
df2 = df2[['Namn', 'Enkättext', 'Beskrivning']]
df2.head()

         Namn                                          Enkättext  Beskrivning
0  promoted_1  Ditt arbete @ Har du befordrats/fått en högre ...          NaN
1  promoted_1  Ditt arbete @ Har du befordrats/fått en högre ...          NaN
2  promoted_1  Ditt arbete @ Har du befordrats/fått en högre ...          NaN
3  promoted_2  Har du fått en annan tjänsteposition de senast...          NaN
4  promoted_2  Har du fått en annan tjänsteposition de senast...          NaN

In [54]:
df2['Enkättext'].unique()[1]

'Har du fått en annan tjänsteposition de senaste två åren?'

In [35]:
df1[df1['Enkättext'] == 'Ditt arbete @ Har du befordrats/fått en högre tjänst under de två senaste åren?']['Namn']

0    promoted_1
1    promoted_1
2    promoted_1
Name: Namn, dtype: object

In [43]:
df1.loc[df1['Enkättext'] == 'Ditt arbete @ Har du befordrats/fått en högre tjänst under de två senaste åren?', 
        ['Beskrivning']] = 'Befordran'

In [45]:
df1.loc[df1['Enkättext'] == 'Har du fått en annan tjänsteposition de senaste två åren?', 
        ['Beskrivning']] = 'Annan tjänsteposition'

In [47]:
df1.loc[df1['Enkättext'] == 'Har du fått en förändrad tjänsteposition de senaste två åren?', 
        ['Beskrivning']] = 'Förändrad tjänsteposition'