# <span style="color:mediumslateblue; font-family:freestyle script; font-size:4em">Harmonisering:</span> <br><span style="color:greenyellow; font-family:freestyle script; font-size:4em">Data från LNU</span>
***

# Innehållsförteckning
1. [Importera bibliotek](#1)
2. [Importera data](#2)
3. [Datatvätt](#3)  
    3.1 [Variabelnamn](#3.1)  
    3.2 [Variabeltyp](#3.2)  
    3.3 [Tvåställig SSYK](#3.3)  
    3.4 [Data saknas och NaN](#3.4)  
4. [Aggregera data](#4)
5. [Exportera data](#5)  
    
***

# <a id = "1">1. Importera bibliotek</a>
De bibliotek som behövs i det här skriptet är **pandas**, **numpy** och **os**.

In [1]:
import os
import pandas as pd
import numpy as np

In [2]:
os.getcwd()

'C:\\Users\\mabr4821\\Documents\\GitHub\\REWHARDpilot'

***
# <a id = "2">2. Importera data</a>
De variabler som behövs är **z1, z18, z670, z671, z672, z673, z674, z680, z681, z682, z616, z621, z622, z624, z625, z626, z647, z651, z652, z653, z654, z655, z656**. Datafilen återfinns på LNU:s server och sökvägen dit är:  
  
*LNU 2010/LNU2010_DATA/LNU2010.dta*  

Variablerna väljs ut och läggs i en dataframe som kallas **data**. För mer information om variablerna hänvisas till [LNU:s kodbok](https://www.sofi.su.se/forskning/tre-forskningsavdelningar/lnu/dokumentation/lnu-2010).

In [3]:
data = pd.read_stata('J:/LNU 2010/LNU2010_DATA/LNU2010.dta', columns=['z1', 'z18', 'z670', 'z671', 'z672', 'z673', 'z674',
                                                                      'z680', 'z681', 'z682', 'z616','z621', 'z622', 'z624',
                                                                      'z625', 'z626', 'z647', 'z651', 'z652', 'z653', 'z654',
                                                                      'z655', 'z656'])

***
Ta fram de första fem raderna för att få en första blick på data.

In [4]:
data.head(5)

,z1,z18,z670,z671,z672,z673,z674,z680,z681,z682,...,z624,z625,z626,z647,z651,z652,z653,z654,z655,z656
0,10001.0,8334,2 Nej,2 Nej,2 Nej,1 Beslut ej krav,2 Övrigt,2 Mindre del av tiden,2 Mindre del av tiden,1 Inte alls,...,2 Nej,NaN,2 2-5 dagar,1Ja,2 Nej,1Ja,4 I liten grad,3 I viss grad,4 I liten grad,2 I hög grad
1,10003.0,2131,2 Nej,1 Ja,2 Nej,1 Beslut ej krav,2 Övrigt,2 Mindre del av tiden,1 Inte alls,1 Inte alls,...,1 Ja,5,5 3 månader-1 år,2 Nej,1 Ja,1Ja,1 I mycket hög grad,1 I mycket hög grad,1 I mycket hög grad,2 I hög grad
2,10004.0,2330,1 Ja,1 Ja,2 Nej,3 Ej beslut men krav,2 Övrigt,4 Stor del av tiden,1 Inte alls,5 Hela tiden,...,1 Ja,4,7 mer än 2 år,1Ja,1 Ja,2 Nej,3 I viss grad,1 I mycket hög grad,3 I viss grad,2 I hög grad
3,10005.0,5131,2 Nej,1 Ja,2 Nej,1 Beslut ej krav,2 Övrigt,1 Inte alls,1 Inte alls,1 Inte alls,...,1 Ja,5,6 1-2 år,1Ja,1 Ja,1Ja,2 I hög grad,2 I hög grad,2 I hög grad,1 I mycket hög grad
4,10006.0,6130,1 Ja,1 Ja,2 Nej,NaN,NaN,2 Mindre del av tiden,2 Mindre del av tiden,2 Mindre del av tiden,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

***
# <a id = "3">3. Datatvätt</a>
Datamängden måste modifieras innan den kan användas. Detta görs i flera steg som går att följa nedan. Först ska några variabler döpas om, sedan ska datatyp korrigeras. SSYK ska omvandlas från fyrställig nivå till tvåställig, och till sist ska luckor i datamängden hanteras. 
***
## <a id = "3.1">3.1 Variabelnamn</a>
Döp om **z1** och **z18** till "Lopnr" respektive "SSYK".

In [5]:
data.rename(columns={'z1': 'Lopnr', 'z18': 'SSYK'}, inplace=True)

***
## <a id= "3.2">3.2 Datatyp</a>
Cellerna verkar innehålla data av olika typ. Se efter vilken typ av data som finns i varje kolumn.

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 4415 entries, 0 to 4414
Data columns (total 23 columns):
Lopnr    4415 non-null float64
SSYK     4415 non-null int32
z670     3059 non-null category
z671     3059 non-null category
z672     3059 non-null category
z673     2687 non-null category
z674     2687 non-null category
z680     3059 non-null category
z681     3059 non-null category
z682     3058 non-null category
z616     2689 non-null category
z621     2689 non-null category
z622     2687 non-null category
z624     2689 non-null category
z625     2041 non-null category
z626     2689 non-null category
z647     2689 non-null category
z651     2689 non-null category
z652     2689 non-null category
z653     2689 non-null category
z654     2689 non-null category
z655     2689 non-null category
z656     2689 non-null category
dtypes: category(21), float64(1), int32(1)
memory usage: 187.0 KB

***
Ta bort all svarstext ur cellerna, behåll endast siffror som representerar svarsalternativ.

In [7]:
data.replace(regex=True, inplace=True, to_replace=r'\D', value=r'')

***
Variabeln **z626** har svarstext som innehåller siffror. Svarstexten till alternativ två är t.ex. "2-5 dagar". Ta bort dessa restsiffror och behåll endast siffran som representerar svarsalternativet.

In [8]:
data['z626'] = data['z626'].astype(str).str[:1]
data['z626'] = data['z626'].replace('n', np.nan)

***
Data måste vara av rätt typ för att deskriptiv statistk ska bli korrekt.

In [9]:
data = data.apply(pd.to_numeric)

***
## <a id = "3.3">3.3 Tvåställig SSYK</a>
Variabeln **SSYK** är på fyrställig nivå. För att omvandla till tvåställig SSYK kan man dela med 100 och sedan använda **np.floor** som avrundar ner till närmaste heltal.

In [10]:
data['SSYK'] = data['SSYK']/100

In [11]:
data['SSYK'] = data['SSYK'].apply(np.floor)

***
## <a id = "3.4">3.4 Data saknas och NaN</a>
Variablerna **z670, z671, z672, z673, z674, z680, z681, z682, z616, z624, z626, z647, z651, z652, z653, z654, z655, z656** har samtliga en kodlista i vilken koden 9 står för "Svar saknas". Variabeln **z625** har koden 99 för "Svar saknas" och **z621, z622** har 9999. Dessa koder kommer påverka medelvärden på ett oönskat sätt och ersätts därför med **NaN** (eller s.k. "missing value"). Börja med att sortera om variablerna så att dessa tre grupper hamnar i följd.

In [12]:
data = data[['Lopnr', 'SSYK', 'z670', 'z671', 'z672', 'z673', 'z674', 'z680', 'z681',  
           'z682','z616', 'z624', 'z626', 'z647', 'z651', 'z652', 'z653', 'z654',
           'z655', 'z656', 'z625', 'z621', 'z622']]

***
Ersätt 9 i den första gruppen med **NaN**, gör sedan detsamma med 99 och 999 för den andra respektive tredje gruppen.

In [13]:
data.iloc[:, 2:19] = data.iloc[:, 2:19].replace(9, np.nan)
data.iloc[:, 20] = data.iloc[:, 20].replace(99, np.nan)
data.iloc[:, 21:] = data.iloc[:, 21:].replace(9999, np.nan)

***
De individer som svarar ja på fråga **z624**:   
*Behöver man någon skol- eller yrkesutbildning utöver folk- eller grundskola i din befattning?*  

Får sedan ange hur lång en sådan utbildning är i fråga **z625**:  
*Ungefär hur många års utbildning utöver folk- eller grundskola behöver man?*  
  
De som däremot svarade nej på **z624**, (637 individer, eller 23%) kodas som **NaN** i fråga **z625**. Detta ger ett missvisande medelvärde, bättre vore om dessa 23% kodades som 0. På så vis blir medelvärdet betydligt lägre.

In [14]:
data.loc[data.z624==2, ['z625']] = 0

***
# <a id = "4">4. Aggregera data</a>
Ta bort variabeln Lopnr, den behövs ej för att aggregera data.

In [15]:
data = data.drop('Lopnr', axis = 1)

***
Gruppera data enligt SSYK och ta fram medelvärde och antal observationer för varje annan variabel.

In [16]:
aggregerad_data = data.groupby('SSYK').aggregate(['mean', 'count'])

***
Avrunda medelvärden till 1 decimal.

In [17]:
aggregerad_data = aggregerad_data.round(1)

***
# <a id = "5">5. Exportera data</a>
Ändra namn på variablerna.

In [18]:
aggregerad_data.columns = ['z670_mean', 'z670_count', 'z671_mean', 'z671_count', 'z672_mean', 'z672_count', 
                           'z673_mean', 'z673_count', 'z674_mean', 'z674_count', 'z680_mean', 'z680_count',
                           'z681_mean', 'z681_count', 'z682_mean', 'z682_count', 'z616_mean', 'z616_count', 
                           'z624_mean', 'z624_count', 'z647_mean', 'z647_count', 'z651_mean', 'z651_count',
                           'z626_mean', 'z626_count', 'z652_mean', 'z652_count', 'z653_mean', 'z653_count',
                           'z654_mean', 'z654_count', 'z655_mean', 'z655_count', 'z656_mean', 'z656_count', 
                           'z625_mean', 'z625_count', 'z621_mean', 'z621_count', 'z622_mean', 'z622_count']

***
Spara ner aggregerad data i en excelfil.

In [ ]:
aggregerad_data.to_excel('LNU Medelvärden och n per SSYK för harmonisering.xlsx')

***
**Kontakt:** [Marcus Brafors](https://www.su.se/profiles/mabr4821-1.403903)