Importera de bibliotek som behövs

In [1]:
import pandas as pd
import numpy as np

Hämta de två första kolumnerna från *Variabler* ur databasen och kalla för df1. **Enkät** motsvarar **r** i SLOSH-datafilen. Hur ska värden från dessa kolumner matchas?

Läs in SLOSH-datafilen in df2.

In [40]:
df2 = pd.read_excel('testdata frekvenstabell till SQL.xlsx')

Varje rad i df1 ska matchas mot en kolumn i df2 samt ett värde på r. Notera att det finns en r-kolumn per våg. Ta fram en frekvenstabell från df2 givet en rad i df1.

In [44]:
df2[df2['r_7'] == 2]['loadtime_7'].value_counts().sort_index().reset_index()

   index  loadtime_7
0    1.0        1572
1    2.0        4728
2    3.0        3947
3    4.0        1135
4   23.0           7

Lägg till två kolumner till df1. Totalt finns nu fyra kolumner: **Variabel** och **Enkät**, **Kod** och **Frekvens**.

In [ ]:
df2.columns

In [56]:
df2[df2['r_7'] == 2]['loadtime_7'].value_counts().sort_index().reset_index().loc[0]

index            1.0
loadtime_7    1572.0
Name: 0, dtype: float64

In [53]:
df2[df2['r_7'] == 2]['loadtime_7'].value_counts().sort_index().reset_index()

   index  loadtime_7
0    1.0        1572
1    2.0        4728
2    3.0        3947
3    4.0        1135
4   23.0           7

***
blabla dokumentera

In [ ]:
[my_series[c].value_counts() for c in list(my_series.select_dtypes(include=['O']).columns)]

På den här [länken](https://stackoverflow.com/questions/10715965/add-one-row-to-pandas-dataframe) förklarar de att det är avsevärt mycket snabbare att skapa den här typen av dataframe genom att först lägga varje rad i en dict. Varje dict, i sin tur, läggs i en lista, och till slut skapas en dataframe m.h.a. listan med dictionairies.

In [ ]:
rows_list = []
for row in input_rows:

        dict1 = {}
        # get input row in dictionary format
        # key = col_name
        dict1.update(blah..) 

        rows_list.append(dict1)

df = pd.DataFrame(rows_list)

Nedan applicerar jag tillvägagångssättet på problemet med frekvenstabeller.

In [ ]:
rader = []
for i in df1.index:
    variabel = i[0]
    enkät = i[1]
    frekvenstabell = df2[df2['r_7'] == enkät][variabel].value_counts().sort_index().reset_index()
    for j in frekvenstabell.index:
        rad = {Variabel: variabel, Enkät: enkät, Kod: frekvenstabell[j][0], Frekvens: frekvenstabell[j][1]}
        rader.append(rad)
        
df3 = pd.DataFrame(rader)